@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.preview-wrapper{
    background-color: #C6D8D3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.readMore{
    position: absolute; 
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #F0544F;
}
.prevTitle{
    margin: 0 0 10px 0;
    color: #331832;
}
.prevParagraph{
    margin: 0 0 25px 0; 
    color: #331832;
}
.textarea--edit{
    width: 100%;
    min-height: 200px;
}
.comment--wrapper{
    background-color: #EFF8E2;
    color: #2D2D34;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #bbbbbb;
    padding: 20px;
    margin-bottom: 15px;
}
.comment--name{
    margin: 0 0 10px 0;
}
.comment--parag{
    margin: 10px 0;
}